<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>

        <input type="text" name='testbutton' id='jsonData' value='' />
        <input type="button" name='testbutton' id='generateData' value='Submit' />

		<script type="text/javascript">
$(function () {

    $('#generateData').on('click', function(){
        $.ajax({
            url : 'http://localhost/phpreporty_merged/generateData',
            method : 'POST',
            dataType : 'json',
            data : { name : $('#jsonData').val() },
            success : function(data){
                console.log(data);

                $('#container').highcharts({
			        chart: {
			            type: 'column'
			        },
			        title: {
			            text: 'Historic World Population by Region'
			        },
			        subtitle: {
			            text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
			        },
			        // Main table
			        xAxis: {
			            categories: ['Episode', 'Project'],
			            title: {
			                text: null
			            }
			        },
			        yAxis: {
			            min: 0,
			            title: {
			                text: 'Population (millions)',
			                align: 'high'
			            },
			            labels: {
			                overflow: 'justify'
			            }
			        },
			        tooltip: {
			            valueSuffix: ' millions'
			        },
			        plotOptions: {
			            bar: {
			                dataLabels: {
			                    enabled: true
			                }
			            }
			        },
			        legend: {
			            layout: 'vertical',
			            align: 'right',
			            verticalAlign: 'top',
			            x: -40,
			            y: 80,
			            floating: true,
			            borderWidth: 1,
			            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
			            shadow: true
			        },
			        credits: {
			            enabled: false
			        },
			        series: data
			    });


            },
        });
    
    });
    

});
		</script>
	</head>
	<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

	</body>
</html>
